.dashboard-task-item {
  padding: 10px 20px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 4px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dashboard-task-priority-controls {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.dashboard-task-item .data {
  flex: 1;
  margin-left: 10px;
}

.dashboard-task-item .data .completed {
  text-decoration: line-through;
}

.dashboard-task-item .data .deadline {
  font-size: 10px;
  color: green;
}

.dashboard-task-item .data .overdue {
  color: red;
}